body{
  background-color: black;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}
.card {
  width: 80vh;
  height: 50vh;
  border: 1px solid #ccc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: black;
  overflow: auto;
}

.buttons{
  display: flex;
  justify-content: space-between; 
  width: 80vh;                   
  padding: 10px;
}
button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.prevBtn {
  background: #5290d8;
  color: white;
}

.nextBtn {
  background: #7fee95;
}

.progress-bar {
  width: 400px;
  height: 12px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.progress-percentage {
  height: 100%;
  background: #0070f3;
  border-radius: 10px 0 0 10px;
  transition: width 0.3s ease;
}

.progress-text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
  color: black;           /* or white if you want it on the blue */
  line-height: 24px;      /* same as container height for vertical centering */
  pointer-events: none;
}